<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login | Disaster system</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/form.css">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <!-- boxicons css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="login-bg">
    <div class="container-fluid">
        <div class="container ">
            <form action="" id="login_form" class="">
                <div class="row">
                    <div class="col-lg-6 p-5 mt-5">
                        <div class="text-start">
                            <img src="/img/hero-img-removebg-preview.png" alt="" width="100%">
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 login">
                        <div class="p-4 shadow border ">
                            <h5 class="h1-title fw-bold">Login</h5>
                            <div class="msg"></div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                                <i class="bi bi-envelope-fill icon"></i>
                                <label for="floatingInput" class="fw-bold">Enter Email Address</label>
                                <div class="emailErr text-center error"></div>
                            </div>
                    
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingInput" name="password"
                                placeholder="name@example.com">
                                <i class="bx bx-hide show-hide"></i>
                                <label for="floatingInput" class="fw-bold">Enter Password</label>
                                <div class="passwordErr text-center error"></div>
                            </div>
                    
                            <div class="text-center mb-0 mt-3">
                                <button type="submit" class=" p-3 btn btn-md round-pill btn-outline-primary fw-bold">Sign In</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <!-- Javascript -->
    <script src="/formHandler/login.js"></script>
</body>
</html>