<div class="sidebar  pb-3 bg-side shadow">
    <nav class="navbar ">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-light"></i>Disaster System</h3>
        </a>
        <div class="d-flex align-items-center text-light ms-4 mb-4">
            <div class="position-relative">
            </div>
            <div class="ms-3">
                <span>Hello!</span>
                <h6 class="mb-0">
                    Admin Name Here
                </h6>

            </div>
        </div>
        <div class="navbar-nav w-100 ">

            <a href="/admin/dashboard" class="nav-item nav-link   active fw-bold"><i
                class="fa fa-tachometer-alt me-2 text-primary"></i>Dashboard
            </a>

            <a href="/admin/registered-disaster" class="nav-item  text-light nav-link fw-bold"><i
                class="fa fa-chart-bar me-2 text-primary"></i>Registered Disaster
            </a>

            <a href="/admin/report" class="nav-item  text-light nav-link fw-bold"><i
                class="fa fa-chart-bar me-2 text-primary"></i>Reported Disasters
            </a>

            <a href="/admin/profile" class="nav-item text-light nav-link fw-bold"><i
                class="bi bi-people-fill me-2 text-primary"></i></i>Profile
            </a>

            <a href="/auth/logout" class="nav-item text-light nav-link fw-bold"><i
                class="bi bi-box-arrow-in-right me-2 text-primary"></i>Sign-Out
            </a>
        </div>
    </nav>
</div>